{
  "openapi": "3.1.0",
  "info": {
    "title": "PlantUML to PNG API",
    "description": "This API converts a PlantUML diagram to a PNG image.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://plantuml.dapp.greicodex.com"
    }
  ],
  "paths": {
    "/plantuml2png": {
      "post": {
        "operationId": "generate-diagram-image",
        "summary": "Convert PlantUML diagram to PNG",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "diagram": {
                    "type": "string",
                    "description": "The PlantUML diagram code."
                  },
                  "download": {
                    "type": "boolean",
                    "description": "Optional flag to indicate download (default: false)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PNG image of the PlantUML diagram",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["image"],
                      "description": "Indicates the type of response (always 'image')."
                    },
                    "source": {
                      "type": "string",
                      "enum": ["url", "data-url", "file"],
                      "description": "Source type of the image. Could be a URL, a data URL, or a file ID."
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL of the generated image (if source is 'url').",
                      "nullable": true
                    },
                    "data_url": {
                      "type": "string",
                      "description": "Base64-encoded data URL of the image (if source is 'data-url').",
                      "nullable": true
                    },
                    "file_id": {
                      "type": "string",
                      "description": "File ID of the uploaded image (if source is 'file').",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "description": "A description of the generated image."
                    }
                  },
                  "required": ["type", "source", "description"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Description of the error."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}
